/* @media only screen and (max-width:375px) {
    .nav-menu{
        position: fixed;
        left: -400px;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: green;
        width: 375px;
        text-align: center;
        transition: 0.3s;
        justify-content: center;  
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        margin: 16px 0 16px 20px;
    }
    .nav-menu li  a{
        transition: 0.8s ease;
    }
    .nav-menu li a:hover{
        color: black;
    }
    
    .hamburger{
        display: block;       
    }
    .hamburger.active.bar:nth-child(2){
            opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
    .hamburger.active.bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    
   
}

.nav-menu li a{
    transition: 0.7s ease;
}
 .nav-menu li a:hover{
    color: black;
 }

 .hamburger{
    display: none;
    cursor: pointer;
 }

 .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
 } */